@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

body {
  @apply text-white bg-gray-800;
  margin: 0;
  border: 0;
  outline: 0;
}
